body {
    background-color: #ffffff; /* Set the background color of the body to black */
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    padding: 20px;
    margin: 20px 100px;
    grid-template-columns: 1fr 3fr; /* Two columns: left column is 1 fraction wide, right column is 2 fractions wide */
    gap: 50px; /* Gap between columns */
}

.personal-info {
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.occupation{
    background-color: rgb(255, 255, 255);
    padding: 15px; /* Add padding to create space around the text */
    border-radius: 20px; /* Add rounded corners */
    font-size: 15px;
}

.name{
    font-size: 30px;
    font-weight: bold;
}

.personal-info img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make the image round */
}

.contact-info p {
    text-align: left; /* Align text to the left */
    margin-left: 20px; /* Add margin to create tab stops */
}

.contact-info i {
    display: inline-block;
    width: 20px; /* Width of icon */
    text-align: center;
}

.main-content {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; /* Background color for main-content */
}

.contact-info {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
}

.contact-info p {
    margin: 5px 0;
}

.media-info {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Add space between the two icons */
}

.media-info a {
    margin-right: 20px; /* Add space between the icons */
    margin-left: 20px;
}

.media-info i {
    font-size: 30px; /* Increase the icon size */
}
